/* card css */

.cardStyle{
    border-radius: 1px;
    height: 490px;
 box-shadow:    0 0 4px #00000026 !important;
 transition: .3s ease-in-out;
 transform: none;
 
    
}
.cardStyle:hover{
   
    transform: scale(1.05);

}
.btnStyle{
    transition: 0.3s ease-in-out;
}
.cardStyle:hover .btnStyle{
    color:white;
    background-color: rgb(5, 152, 250);

}
.showDetailStyle{
    transition: .3s ease-in-out;
}
.cardStyle:hover .showDetailStyle{
    color:white;
    background-color: rgb(60, 118, 86);;

}
.cardStyle img{
    width: 300px;
    height: 200px;
    align-self: center;
}

.titleStyle{
    height: 90px;
    width: 100%;
}
.priceStyle{
 padding-top: 15px;
 padding-bottom: 10px;
}


.buttonMainWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
   margin-top: -15px;
    margin-bottom: 15px;
}
.showDetailStyle{
    text-decoration:none ;
   
    margin-bottom: 40px;
    padding:10px;
    
    border-radius: 5px;
    border: 1px solid rgb(60, 118, 86);;
    /* background-color: rgb(60, 118, 86); */
   
    color: rgb(60, 118, 86);;
}
.showDetailStyle:hover{
    color: rgb(60, 118, 86);;
}

.ratingWrapper{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    
}
.ratingWrapper h5{
    margin-left: 20px;
    margin-top: 10px;
}
