.cart_container{
   
width: 770px;
border-bottom: 0.5px solid lightgray;
border-left: 0.5px solid lightgray;
border-right: 0.5px solid lightgray;

}
.items{
    margin-top: 100px;
   margin-left: 220px;
    padding: 15px 0px;
}
.cartContentStyle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartimageStyle{
    padding: 10px;
}


.imageSize{
    width: 140px;
    height: 90px;
   
}

.cartQuantity{
    font-size: 20px;
    font-weight: 800;
    padding: 8px;
    margin-top: 13px;
}

.actionsStyle{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.cartName{
    max-width: 70%;
}

.number{
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
}

.singleCart{
  
    display: flex;
    padding: 40px 60px;
    align-items: center;
    justify-content: space-around;
 border-top: 1px solid lightgray;
    padding: 5px;
   

}

.btnDanger{
    outline-color: 1px solid rgb(233, 66, 66);
    padding: 0px 10px;

    font-size: 20px;
    

}
