.sliderMain{
    height:500;
   

}


.imgStyle{
    width: 1360px;
    height: 500px;
    position: relative;
}
.imagewarapper{
    width: 1300px;
    height: 500px;
}
.slidContent{
    position: absolute;
    z-index: 999;
}